main {
    margin-top: -20px;
}

.nav-link {
    color: #92d35e;
}

.nav-link:hover {
    color: #92d35e;
    font-weight: bold;
}

.offert-wrapper {
    margin-bottom: 50px !important;
}

ul.pagination {
    gap: 10px;

    .page-link {
        box-sizing: border-box !important;
        border-radius: 99px !important;
    }
}

.active .page-link {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;;
}

.bb-1 {
    border-bottom: 1px solid #DDD6FE;
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: .2rem;
}
.card-header:first-child {
  border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}
.card-header {
  border-bottom-width: 1px;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2;
}

.list-group > .active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.navbar li .active {
  color: var(--primary) !important;
}

.mt-140 {
  margin-top: 140px;
}
