/* Define the primary color */
:root {
    --primary: #92d35e;
}

a:hover {
    color: var(--primary);
}

.card {
    --bs-card-border-color: var(--primary);
    border-color: var(--primary);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-header {
    background-color: rgba(146, 211, 94, 0.2);
}

.form-check-input:checked {
    background-color: var(--primary);
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

.border-primary {
  border-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
